{% extends '::base.html.twig' %}

{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ asset("bundles/event/css/demo.css") }}" />
{% endblock %}

{% block body %}
<p>SOBHAN</p>
{% endblock %}