{# Hello <b>{{ name }}</b>! Welcome to the page #}

{#
{%extends '::base.html.twig' %}

{% block title 'SobhanTitle' %}

{% block body %}

{% for i in 1..10 if i%2==0 %}
	Hello {{name | lower}} #{{i}} <br>
{% endfor %}
<h2>Event Details</h2>
{{event.name}}<br/>
{{event.location}}
{% endblock %}

#}

{% extends '::base.html.twig' %}

{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ asset("bundles/event/css/demo.css") }}" />
{% endblock %}

{% block body %}
<p>SOBHAN</p>
{% endblock %}